In [59]:
import pandas as pd

In [60]:
import os
os.getcwd()

'C:\\Users\\Balodi\\Downloads'

In [61]:
Agent_df = pd.read_excel(r'E:\himanshu_2022\Download\AgentPerformance.xlsx')

In [62]:
Agent_df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0
2156,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.00,0
2157,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.00,0
2158,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0
2159,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0

In [63]:
Agent_df["Date"]

0       2022-07-30
1       2022-07-30
2       2022-07-30
3       2022-07-30
4       2022-07-30
           ...
2155    2022-07-01
2156    2022-07-01
2157    2022-07-01
2158    2022-07-01
2159    2022-07-01
Name: Date, Length: 2160, dtype: object

In [69]:
Agent_df["Date"] = Agent_df["Date"].astype('datetime64[ns]')

In [70]:
Agent_df.dtypes

SL No                               int64
Date                       datetime64[ns]
Agent Name                         object
Total Chats                         int64
Average Response Time              object
Average Resolution Time            object
Average Rating                    float64
Total Feedback                      int64
dtype: object

In [71]:
Agent_df["day"] = Agent_df['Date'].apply (lambda r :r.day)
Agent_df["month"] = Agent_df['Date'].apply (lambda r :r.month)
Agent_df["year"] = Agent_df['Date'].apply (lambda r :r.year)
Agent_df["week"] = Agent_df['Date'].apply (lambda r :r.week)

In [72]:
Agent_df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,day,month,year,week
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,30,7,2022,30
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,30,7,2022,30
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,30,7,2022,30
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,30,7,2022,30
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,30,7,2022,30
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0,1,7,2022,26
2156,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.00,0,1,7,2022,26
2157,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.00,0,1,7,2022,26
2158,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0,1,7,2022,26
2159,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0,1,7,2022,26

 # 1.Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

In [81]:
Agent_week_rating = Agent_df[(Agent_df['Average Rating'] != 0) & (Agent_df['Agent Name'] == "Prerna Singh")][['Agent Name','Average Rating','week']].groupby('week')

In [82]:
Agent_week_rating

# 2.Total working days for each agents

In [86]:
agent_individual = Agent_df[Agent_df["Agent Name"] == "Prerna Singh"]
agent_working = agent_individual[agent_individual["Total Chats"] != 0][["day"]]

In [87]:
len(agent_working["day"])

22

# 3. Total query that you have taken

In [89]:
Agent_df["Total Chats"].sum()

14720

# 4. Total Feedback that you have received

In [91]:
Agent_df["Total Feedback"].sum()

9259

# 5. agent name who have average rating between 3.5 to 4

In [92]:
Agent_df[(Agent_df["Average Rating"] >3.5) & (Agent_df["Average Rating"]<4)][["Average Rating","Agent Name"]]

      Average Rating           Agent Name
4               3.67               Swati
10              3.60         Manjunatha A
76              3.75        Prateek _iot
78              3.79        Nandani Gupta
80              3.95        Jaydeep Dixit
...              ...                  ...
1869            3.78  Boktiar Ahmed Bappy
1874            3.80        Ayushi Mishra
1941            3.80       Jawala Prakash
2021            3.54        Aditya Shinde
2023            3.71     Deepranjan Gupta

[78 rows x 2 columns]

# 6.  Agent name who have rating lesss then 3.5

In [93]:
Agent_df[Agent_df["Average Rating"]<3.5][["Average Rating","Agent Name"]]

      Average Rating          Agent Name
1               3.14       Nandani Gupta
19              0.00    Hitesh Choudhary
20              0.00          Sanjeevan
21              0.00            Anirudh
22              0.00    Shiva Srivastava
...              ...                 ...
2155            0.00   Sowmiya Sivakumar
2156            0.00             Nitin M
2157            0.00              Vivek
2158            0.00       Ayushi Mishra
2159            0.00  Chaitra K Hiremath

[1474 rows x 2 columns]

# 7.  agent name who have rating more then 4.5

In [96]:
top_agents = Agent_df[Agent_df["Average Rating"]>4.5][["Average Rating","Agent Name"]]

In [97]:
top_agents

      Average Rating          Agent Name
2               4.55          Ameya Jain
3               4.71       Mahesh Sarade
5               4.62             Mukesh
6               5.00     Saikumarreddy N
7               5.00       Sanjeev Kumar
...              ...                 ...
2100            5.00      Shubham Sharma
2101            4.77       Jaydeep Dixit
2102            4.86  Shivananda Sonwane
2103            4.61      Khushboo Priya
2104            4.56     Hrisikesh Neogi

[307 rows x 2 columns]

# 8. how many feedaback agents have received more then 4.5 average

In [98]:
len(top_agents["Agent Name"])

307

# 11.  list of all agents name

In [99]:
Agent_df["Agent Name"].unique()

array(['Prerna Singh', 'Nandani Gupta', 'Ameya Jain', 'Mahesh Sarade',
       'Swati ', 'Mukesh ', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Shubham Sharma', 'Nishtha Jain', 'Manjunatha A', 'Khushboo Priya',
       'Suraj S Bilgi', 'Harikrishnan Shaji', 'Hrisikesh Neogi',
       'Shivan K', 'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S',
       'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ', 'Shiva Srivastava',
       'Dibyanshu ', 'Ashish ', 'Uday Mishra', 'Aditya Shinde',
       'Jayant Kumar', 'Aditya_iot ', 'Prabir Kumar Satapathy',
       'Saurabh Shukla', 'Wasim ', 'Samprit ', 'Maitry ', 'Abhishek ',
       'Rishav Dash', 'Aravind ', 'Tarun ', 'Muskan Garg', 'Ankit Sharma',
       'Bharath ', 'Ashad Nasim', 'Vasanth P', 'Aditya ', 'Amersh ',
       'Sandipan Saha', 'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ',
       'Zeeshan ', 'Anurag Tiwari', 'Ankitjha ', 'Saif Khan',
       'Jaydeep Dixit', 'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas',
       'Rohan ', 'Vivek ', 'Nitin M', 'Shivan_S ', 'Spuri ',
       'Ayushi Mishra', 'Chaitra K Hiremath', 'Prateek _iot ',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Jawala Prakash'], dtype=object)

# 12. percentage of chat on which they have received a feedback

In [100]:
agent_feedback = Agent_df[Agent_df["Total Chats"] != 0][["Agent Name","Total Chats","Total Feedback"]]
agent_feedback["feedback_ratio"] = agent_feedback["Total Feedback"]/agent_feedback["Total Chats"]

In [101]:
agent_feedback

              Agent Name  Total Chats  Total Feedback  feedback_ratio
0           Prerna Singh           11               9        0.818182
1          Nandani Gupta           11               7        0.636364
2             Ameya Jain           14              11        0.785714
3          Mahesh Sarade           14               7        0.500000
4                 Swati            14               6        0.428571
...                  ...          ...             ...             ...
2101       Jaydeep Dixit           25              13        0.520000
2102  Shivananda Sonwane           23              14        0.608696
2103      Khushboo Priya           24              18        0.750000
2104     Hrisikesh Neogi           15               9        0.600000
2105              Tarun            22               6        0.272727

[745 rows x 4 columns]

# 13. average weekly response time for each agent

In [121]:
agent_response = Agent_df[(Agent_df["Total Chats"] != 0)][["Agent Name","Average Response Time","week"]]
agent_response = agent_response[agent_response["Agent Name"] == "Prerna Singh"]
agent_response = agent_response["Average Response Time"]

In [122]:
agent_response

0       00:00:38
79      00:01:00
222     00:01:10
296     00:01:00
369     00:01:06
509     00:00:35
581     00:01:26
724     00:00:51
796     00:01:19
869     00:00:53
1025    00:00:59
1092    00:00:46
1245    00:01:03
1308    00:01:05
1386    00:01:00
1529    00:01:01
1602    00:00:44
1746    00:01:22
1821    00:01:05
1881    00:01:33
2025    00:01:24
2099    00:01:50
Name: Average Response Time, dtype: object

# 14. average weekely resolution time for each agents

In [127]:
Agent_df.groupby(['Agent Name','week'])['Average Resolution Time'].sum()

Agent Name  week
Abhishek    26                               00:00:0000:00:0000:00:00
            27      00:00:0000:00:0000:00:0000:00:0000:00:0000:00:...
            28      00:00:0000:00:0000:00:0000:00:0000:00:0000:00:...
            29      00:00:0000:00:0000:00:0000:00:0000:00:0000:00:...
            30       00:00:0000:00:0000:00:0000:00:0000:00:0000:00:00
                                          ...
Zeeshan     26                               00:00:0000:00:0000:00:00
            27      00:00:0000:00:0000:21:1500:16:2600:00:0000:00:...
            28      00:00:0000:18:1600:28:0600:00:0000:18:3300:25:...
            29      00:20:0400:00:0000:18:3100:17:2800:13:4000:00:...
            30       00:00:0000:22:4500:16:1300:21:1100:00:0000:17:12
Name: Average Resolution Time, Length: 350, dtype: object

# 15. Total contributation hour for each and every agents weekly basis

In [129]:
Agent_df['daily hours'] = Agent_df['Total Chats']*Agent_df['Average Resolution Time']

In [130]:
Agent_df.groupby('Agent Name')['daily hours'].sum()

Agent Name
Abhishek
Aditya
Aditya Shinde    00:34:4000:34:4000:34:4000:34:4000:34:4000:34:...
Aditya_iot       00:13:2200:13:2200:13:2200:13:2200:13:2200:13:...
Amersh
                                       ...
Uday Mishra
Vasanth P
Vivek            00:24:1800:24:1800:24:1800:24:1800:24:1800:24:...
Wasim            00:18:2400:18:2400:18:2400:18:2400:18:2400:18:...
Zeeshan          00:22:4500:22:4500:22:4500:22:4500:22:4500:22:...
Name: daily hours, Length: 70, dtype: object